<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="create_form_style.css">
    </head>

    <div class="container">
        <div class="title">Crie seu form</div>
    </div>

    <div class="space"></div>

    <body>
        <div class="block">
            <select class="blockSelector">
              <option value="Text" selected>Resposta de texto</option>
              <option value="Múltiple">Múltipla escolha</option>
              <option value="Boxes">Caixas de seleção</option>
              <option value="Toggle">Duas opções</option>
            </select>

            <form action="" method="post">
                <input type="text" name="name" placeholder="Pergunta"><br>
            </form>
        </div>

        <button class="button addBlock">
          <div class="addButton"><div class="addButtonText">+</div></div>
          <div class="addSpace"></div>
          <div class="addText">Adicionar perguntar</div>
        </button>
    </body>
    <button type="submit">Submeter</button><br>
</html>

    <script>
    </script>

