<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="create_form_style.css">
    </head>

    <div class="container">
        <div class="title">Crie seu form</div>
    </div>

    <div class="space" id="help"></div>

    <body>

<!-- for loop -->

        <div class="block">
            <select class="blockSelector" onchange="changeHTML()" id="options">
              <option value="Text" selected>Resposta de texto</option>
              <option value="Múltiple">Múltipla escolha</option>
              <option value="Boxes">Caixas de seleção</option>
              <option value="Toggle">Duas opções</option>
            </select>

            <div class="blockContent" id="content">
            </div>
        </div>

<!-- here -->

        <button class="addBlock" onclick="pushBlock()">
          <div class="addButton"><div class="addButtonText">+</div></div>
          <div class="addSpace"></div>
          <div class="addText">Adicionar perguntar</div>
        </button>
    </body>

    <button type="submit">Submeter</button><br>
</html>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

    <script>
    var arrayOfBlocks = [
        {'question': '', 'answer': ''},
        {'question': '', 'answer': ''}
      ]

        function changeHTML() {
            var option = document.getElementById("options").value;

            if(option == Text) {

            } else if (option == Multiple) {

            } else if (option == Boxes) {

            } else {

            }
        }

        function pushBlock() {
            arrayOfBlocks.push({'question': '', 'answer': ''})

            console.log(arrayOfBlocks)
        }
    </script>

