<!DOCTYPE html>
<html>
    <div class="container">
        <main>
            <h1>Your account was successfully created!</h1> 
        </main>
    </div>

    <body>
        <span>Name: <%= name %></span><br>
        <span>User ID: <%= uid %></span><br>
        <span>Account ID: <%= aid %></span><br>
        <span>Agency: <%= agency %></span><br>
    </body>

    <form action="/" method="GET">
        <button>Return to the login page</button>
    </form>

</html>