<!DOCTYPE html>
<html>
    <div class="container">
            <main>
                <h1>Welcome to my bank!</h1>
            </main>
    </div>
    
    <body>
        <form action="/show_dashboard" method="post">
            <input type="text" name="aid" placeholder="Account"><br>
            <input type="password" name="pwd" placeholder="Password"><br>
            <span><%= error %></span><br>
            <button type="submit">SIGN IN</button><br><br>
        </form>
        <h4>Do not have an account? </h4><a href="/sign_up">SIGN UP HERE</a>
        <h4>Forgot your password? </h4><!-- <a href="/sign_up">RECOVER IT HERE</a> -->
    </body>
</html>

