<!DOCTYPE html>
<html>
    <head>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      	<link rel="stylesheet" href="show_profile.css">
    </head>

	<h2>Test</h2>
</html>

<script>
	$.get("demo_test.asp", function(data, status){
	    alert("Data: " + data + "\nStatus: " + status);
	});
</script>




