<!DOCTYPE html>
<html>
    <div class="container">
            <main>
                <h1>Create your account</h1> 
            </main>
    </div>
    <body>
        <form action="/create_customer_account_links" method="post">
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="uid" placeholder="Username"><br>
            <input type="password" name="pwd" placeholder="Password"><br>
            <button type="submit">SIGN UP</button><br>
        </form>
    </body>
</html>