<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
<html>
	<head>
	    <h1>Transfer</h1><br>
	</head>

	<form action="/transfer" method="post">
		<input type="hidden" name="aid" value="<%= aid %>"></input>
		<input type="text" name="oaid" placeholder="account"></input>
		<input type="text" name="amount" placeholder="value"></input>
	  	<button type="submit">TRANSFER</button>
	</form>
</html>