.block{
  margin-left: 20px;	
  margin-top: 20px;
  color: #6CB94A;
}
.addBlock {
	margin-left: 35px;
	margin-top: 40px;
	display: flex;
}
.addButton {
  width: 25px;
  height: 25px;

  border-style: solid;
  border-color: #6CB94A;
  border-radius: 50%;
  border-width: 1px;
}
.addButtonText{
  margin-left: 3.25px;
  margin-top: -8.75px;
  position: absolute;
  text-align:center;

  font-size: 30px;
  color: #6CB94A;
  display:table-cell;
}
.addSpace {
  margin-left: 15px;
  margin-right: 5px;
  color: #6CB94A;
  font-size: 20px;
  float:left;
}
.addText {
  padding-top: 3px;
  font-size: 17px;
  color: #6CB94A;
}
.submitDiv{
  display: flex;
  justify-content: center;
}
.submitButton {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  color: #6CB94A;
  font-size: 25px;
}
.deleteBlock {
	margin-left: 15px;
	margin-bottom: 50px;
	margin-top: 20px;
	display: flex;
}
.deleteButton {
  width: 25px;
  height: 25px;

  border-style: solid;
  border-color: #6CB94A;
  border-radius: 50%;
  border-width: 1px;
}
.deleteButtonText{
  margin-left: 6px;
  margin-top: -8.75px;
  position: absolute;
  text-align:center;

  font-size: 30px;
  color: #6CB94A;
  display:table-cell;
}
.deleteSpace {
  margin-left: 3px;
  margin-right: 5px;
  color: #6CB94A;
  font-size: 20px;
  float:left;
}
.deleteText {
  padding-top: 3px;
  font-size: 17px;
  color: #6CB94A;
}
.blockSelector{
  margin-top: 0px;
  color: #6CB94A;
  font-size: 15px;
}
.question{
  width: 743px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6CB94A;
  font-size: 15px;
}
.choices{
  width: 600px;
}
.choice{
  margin-left: 15px;
  width: 150px;
  margin-bottom: 10px;
  color: #6CB94A;
  font-size: 15px;
}
.addChoice {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  margin-top: 5px;
  color: #6CB94A;
  font-size: 15px;
}
.boxes{
  width: 600px;
}
.box{
  margin-left: 15px;
  width: 150px;
  margin-bottom: 10px;
  color: #6CB94A;
  font-size: 15px;
}
.addBox{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  margin-top: 5px;
  color: #6CB94A;
  font-size: 15px;
}

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #4F4F4F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	text-transform: uppercase;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

a {
	color: #73C553;
}

ul.style1 {
	margin: 5px;
	padding: 5px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #CFCFCF;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/** WRAPPER */

#wrapper {
	width: 900px;
	padding: 0px 50px;
	background: #FFFFFF;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.both {
	display: flex;
}

.left {
	width: 600px;
	display: flex;
	flex-direction: row;
  	flex-wrap: wrap;
}

.right {
	margin-top: 10px;
	margin-left: 70px;
	width: 200px;
	display: flex;
	flex-direction: row;
  	flex-wrap: wrap;
}

.card {
	margin-top: 10px;
	margin-left: 40px;
}

#icons {
	margin-top: 25px;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	margin-bottom: 20px;
}

/** LOGO */

#logo {
	overflow:  hidden;
	padding: 30px 0px 30px 0px;
}

#logo h1, #logo span {
	margin: 0px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}

#logo h1 a {
	text-decoration: none;
	font-size: 2.50em;
	color: #73C553;
}

#logo span {
	display: block;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.30em;
}

#logo a {
	color: #73C553;
}

/** PAGE */

#page {
	overflow: hidden;
	padding-top: 30px;
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
}

/** CONTENT */

#content {
	float: left;
	width: 550px;
}

#content h2 {
	padding: 0em 0em 0em 0em;
	font-size: 2.25em;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar h2 {
	padding: 0em 0em 1em 0em;
	font-size: 2.25em;
}

/* Footer */

#actions {
	overflow: hidden;
	padding: 20px 0px 60px 0px;
}

#buttonsBar {
	margin-top: 40px;
	overflow: hidden;
	text-align: center;
}

#footer {
	overflow: hidden;
	padding: 80px 0px 0px 0px;
}

#footer p {
	text-align: center;
}

#slider
{
	position: relative;
	width: 900px;
	margin: 0 auto;
}

#slider .viewer
{
	width: 900px;
	height: 450px;
	overflow: hidden;
	margin: 0 auto;
}

#slider .viewer .reel
{
display: none;
height: 450px;
}

#slider .viewer .reel .slide
{
	position: relative;
	width: 900px;
	height: 450px;
}
		
		
		
		
		
		
